<!doctype html>
<html>
<head>
  <title><%= current_page.data.title || "Sci-Fi Economics Lab" %></title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/assets/images/sfeconlab-favicon-192x192.png" sizes="192x192">
  <link rel="icon" href="/assets/images/sfeconlab-favicon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/sfeconlab-favicon-192x192.png">

  <%= stylesheet_link_tag "site" %>
</head>

<body>

<%= partial "navbar" %>

<%# Page block rendered directly on the page background, outside the main content area.
    Only present if defined by a page via "content_for :page_header". %>
<%= yield_content :page_header  %>

<main role="main" class="container mt-5">
  <div class="p-4 pb-5">
    <%# Main content of the page to which this layout is applied. %>
    <%= yield :content %>
  </div>
</main>

<%= partial "footer" %>

<%= javascript_include_tag "site" %>

</body>
</html>
