<!doctype html>
<html>
<head>
  <title><%= current_page.data.title || "Sci-Fi Economics Lab" %></title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/assets/images/sfeconlab-favicon-192x192.png" sizes="192x192">
  <link rel="icon" href="/assets/images/sfeconlab-favicon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/sfeconlab-favicon-192x192.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600|Roboto+Slab:300,400,700&display=swap">
  <%= stylesheet_link_tag "site" %>
</head>

<body>

<%# Header section with navbar and full-width background image. %>
<div class="page-header">

  <%= partial "navbar" %>

  <%# Optional title and subtitle in header section. %>
  <div class="page-header-overlay">
    <div class="page-header-content container pt-3 pb-2 pb-md-4">
      <div class="page-header-title">Join the<br/>
        <strong>Sci-Fi Economics Lab</strong></div>

      <div class="page-header-details">
        <p>An initiative to get economics out of its box.</p>
        <a class="btn btn-custom" target="_blank" href="http://2020.scifieconomicslab.net/">Sign up for Updates</a>
      </div>
    </div>

  </div>
</div>

<main role="main">
  <%# Main content of the page to which this layout is applied. %>
  <%= yield :content %>
</main>

<%= partial "footer" %>

<%= javascript_include_tag "site" %>

</body>
</html>
