<!doctype html>
<html>
<head>
  <title><%= current_page.data.title || "NGI Forward" %></title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/assets/images/favicon.png" sizes="192x192">
  <link rel="icon" href="/assets/images/favicon.png" sizes="32x32">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon.png">

  <%= stylesheet_link_tag "site" %>
</head>
<body>
<%= partial "localizable/navbar" %>


<%= yield_content :page_header  %>
<main role="main" class="container">
  <div class="p-4 pb-5">
    <%= yield :content %>
  </div>
</main>


<%= partial "localizable/footer" %>
<%= javascript_include_tag "site" %>
</body>
</html>
