<!doctype html>
<html>
<head>
  <title><%= current_page.data.title || "Sci-Fi Economics Lab" %></title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/assets/images/sfeconlab-favicon-192x192.png" sizes="192x192">
  <link rel="icon" href="/assets/images/sfeconlab-favicon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/sfeconlab-favicon-192x192.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600|Roboto+Slab:400,700&display=swap">
  <%= stylesheet_link_tag "site" %>
</head>

<body>

<%# Header section with navbar and full-width background image. %>
<div class="page-header">

  <%= partial "navbar" %>

  <%# Optional title and subtitle in header section. %>
  <% ignore do %>
  <div class="page-header-overlay">
    <div class="page-header-content container pt-5 pb-2 pb-md-4">
      <h1 class="page-header-title px-3 px-md-5">
      </h1>

      <div class="page-header-details">
        <div class="lead">
        </div>
      </div>
    </div>
  <% end %>

  </div>
</div>

<main role="main">
  <%# Main content of the page to which this layout is applied. %>
  <%= yield :content %>
</main>

<%= partial "footer" %>

<%= javascript_include_tag "site" %>

</body>
</html>
