<!doctype html>
<html>
<head>
  <title><%= current_page.data.title || "Reef 2.0" %></title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/assets/images/earthos-logo.png" sizes="192x192">
  <link rel="icon" href="/assets/images/earthos-logo.png" sizes="32x32">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/earthos-logo.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,700|Playfair+Display:400,700&display=swap">

  <%= stylesheet_link_tag "site" %>
</head>

<body>

<%# Header section with navbar and varying background and content. %>
<div class="page-header <%= yield_content :page_header_bg %>">
  <%= partial "navbar" %>

  <%# Page block rendered directly into the page header, outside the main content area.
    Only present if defined by a page via "content_for :page_header_overlay". %>
  <%= yield_content :page_header_overlay %>
</div>

<main role="main">
  <%# Main content of the page to which this layout is applied. %>
  <%= yield :content %>
</main>

<%= partial "footer" %>

<%= javascript_include_tag "site" %>

</body>
</html>
