<!doctype html>
<html>
<head>
  <title><%= current_page.data.title || "NGI Forward" %></title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag "site" %>
</head>
<body>
<%= partial "localizable/navbar" %>
<%= partial "localizable/header" %>

<main role="main" class="container">
  <div class="p-4">
    <%= yield %>
  </div>
</main>

<%= partial "localizable/footer" %>
<%= javascript_include_tag "site" %>
</body>
</html>
