<footer class="footer py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-lg-4">

        <div class="d-flex flex-row justify-content-end">
          <div class="ngi-initiative-title pr-3 pt-4">
            <span class="align-middle"><%= t('index.ngi_initiative_title') %></span>
          </div>
          <div class="ngi-logo">
            <%= image_tag 'ngi-logo.png', class: '' %>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="pt-3 pt-md-0">
          <small><%= t('index.ngi_initiative_info') %></small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4">
        <%# image_tag 'OC-EC-H2020.jpg', class: 'img-fluid' %>

        <div class="d-flex flex-row justify-content-end">
          <div class="eu-emblem-info pr-3 pt-4">
            <span class="align-middle"><%= t('index.eu_banner_info') %></span>
          </div>
          <div class="eu-emblem">
            <%= image_tag 'eu-emblem.png', class: '' %>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="pt-3 pt-md-0">
          <small><%= t('index.funding_info') %></small>
        </div>
      </div>
    </div>

  </div>
</footer>
