<div class="page-header">
  <canvas id="particles-js"></canvas>

  <div class="page-header-content container">
    <h1 class="page-header-title pt-sm-5 px-3 px-md-5">
      <%= get_discourse_post(section: 'site_title', locale: I18n.locale) %>
    </h1>

    <div class="page-header-details">
      <div class="lead">
        <%= get_discourse_post(section: 'intro', locale: I18n.locale) %>

        <a href="https://edgeryders.eu/c/ioh/tell-your-story" class="btn btn-primary mt-4"
           title="<%= t('index.external_link_tooltip') %>" data-toggle="tooltip" data-placement="bottom">
          <%= t('index.share_your_experience') %>
          <%= image_tag 'chevron-right.svg', height: '25px', width: '25px' %>
        </a>

      </div>
    </div>
  </div>

</div>