<%
  topics = json_data['topic_list']['topics'].select {|t| t['pinned'] != true}.first(20)
%>

<table class="table">
  <thead>
  <tr>
    <th scope="col"><%= t('index.activity_topic') %></th>
    <th scope="col" class="d-none d-md-table-cell"><%= t('index.activity_users') %></th>
    <th scope="col"><%= t('index.activity_replies') %></th>
    <th scope="col"><%= t('index.activity_views') %></th>
    <th scope="col" class="d-none d-md-table-cell text-nowrap"><%= t('index.activity_most_recent') %></th>
  </tr>
  </thead>
  <tbody>

  <% topics.each do |t| %>
    <tr>
      <td class="font-weight-bold">
        <%= link_to t['title'],
                    "https://edgeryders.eu/t/#{t['id']}",
                    title: t('index.external_link_tooltip'),
                    class: 'text-dark',
                    data: {toggle: 'tooltip', placement: 'bottom'} %>
      </td>
      <td class="d-none d-md-table-cell text-nowrap">
        <% t['posters'].each do |p| %>
          <%= image_tag 'https://edgeryders.eu' + json_data['users'].find {|u| u['id'] == p['user_id']}['avatar_template'].sub("{size}", "50"),
                        class: 'rounded-circle', height: '25px' %>
        <% end %>
      </td>
      <td><%= t['posts_count'] %></td>
      <td><%= t['views'] %></td>
      <td class="d-none d-md-table-cell text-nowrap">
        <%= distance_of_time_in_words(Time.parse(t['last_posted_at']), Time.now, include_seconds = false, locale: :en_abbrev) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>