
<section id="activity" class="mt-5">
  <h2><%= t('index.activity_heading') %></h2>

  <table class="table">
    <thead>
    <tr>
      <th scope="col"><%= t('index.activity_topic') %></th>
      <th scope="col" class="d-none d-md-table-cell"><%= t('index.activity_users') %></th>
      <th scope="col"><%= t('index.activity_replies') %></th>
      <th scope="col"><%= t('index.activity_views') %></th>
      <th scope="col" class="d-none d-md-table-cell text-nowrap"><%= t('index.activity_most_recent') %></th>
    </tr>
    </thead>
    <tbody>
    <%
      json_data = get_most_recent_topics
      topics = json_data['topic_list']['topics'].select {|t| t['pinned'] != true}.first(20)
    %>

    <% topics.each do |t| %>
      <tr>
        <td class="font-weight-bold">
          <%= link_to t['title'],
                      "https://edgeryders.eu/t/#{t['id']}",
                      title: t('index.external_link_tooltip'),
                      class: 'text-dark',
                      data: {toggle: 'tooltip', placement: 'bottom'} %>
        </td>
        <td class="d-none d-md-table-cell text-nowrap">
          <% t['posters'].each do |p| %>
            <%= image_tag 'https://edgeryders.eu' + json_data['users'].find {|u| u['id'] == p['user_id']}['avatar_template'].sub("{size}", "50"),
                          class: 'rounded-circle', height: '25px' %>
          <% end %>
        </td>
        <td><%= t['posts_count'] %></td>
        <td><%= t['views'] %></td>
        <td class="d-none d-md-table-cell text-nowrap">
          <%= distance_of_time_in_words(Time.parse(t['last_posted_at']), Time.now, include_seconds = false, locale: :en_abbrev) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</section>


<section id="about" class="mt-5">
  <%= get_discourse_post(section: 'about', locale: I18n.locale) %>
</section>


<section id="how_it_works" class="mt-5">
  <%= get_discourse_post(section: 'how_it_works', locale: I18n.locale) %>

  <% slides = %w[00 01 02 03 04 05 06 07 08 09 10 11 12 13 14] %>
  <div id="storyboard-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% slides.each do |s| %>
        <li data-target="#storyboard-carousel" data-slide-to="<%= s.to_i %>" class="<%= 'active' if s == slides.first %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% slides.each do |s| %>
        <div class="carousel-item <%= 'active' if s == slides.first %>">
          <%= image_tag "storyboard-slide-#{s}.png", class: 'd-block w-100' %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#storyboard-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#storyboard-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<!--
<section id="partners" class="mt-5">
  <%= get_discourse_post(section: 'partners', locale: I18n.locale) %>
</section>
-->


<section id="about_ngi_forward" class="mt-5">
  <%= get_discourse_post(section: 'about_ngi_forward', locale: I18n.locale) %>
</section>


