<div class="jumbotron">
  <div class="col-sm-8 mx-auto">
    <%= get_discourse_post(section: 'intro', locale: I18n.locale) %>
  </div>
</div>


<section id="activity" class="mt-5">
  <h2><%= t('index.activity_heading') %></h2>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Topic</th>
      <th scope="col">Users</th>
      <th scope="col">Replies</th>
      <th scope="col">Views</th>
    </tr>
    </thead>
    <tbody>
    <%
      json_data = get_most_recent_topics
      topics = json_data['topic_list']['topics'].select {|t| t['pinned'] != true}.first(20)
    %>

    <% topics.each do |t| %>
      <tr>
        <td class="font-weight-bold"><%= link_to t['title'], "https://edgeryders.eu/t/#{t['id']}" %></td>
        <td>
          <% t['posters'].each do |p| %>
            <%= image_tag 'https://edgeryders.eu' + json_data['users'].find {|u| u['id'] == p['user_id']}['avatar_template'].sub("{size}", "50"),
                          class: 'rounded-circle', height: '25px' %>
          <% end %>
        </td>
        <td><%= t['reply_count'] %></td>
        <td><%= t['views'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</section>


<section id="about" class="mt-5">
  <%= get_discourse_post(section: 'about', locale: I18n.locale) %>
</section>


<section id="how_it_works" class="mt-5">
  <%= get_discourse_post(section: 'how_it_works', locale: I18n.locale) %>
</section>


<section id="partners" class="mt-5">
  <%= get_discourse_post(section: 'partners', locale: I18n.locale) %>
</section>


<section id="about_ngi_forward" class="mt-5">
  <%= get_discourse_post(section: 'about_ngi_forward', locale: I18n.locale) %>
</section>


