<% content_for :page_header do %>
  <%= partial "localizable/header" %>
<% end %>


<section id="activity" class="mt-5">
  <h2><%= t('index.activity_heading') %></h2>

  <%= partial 'table_activities', locals: { json_data: get_most_recent_topics} %>
</section>


<section id="about" class="mt-5">
  <%= get_discourse_post(section: 'about', locale: I18n.locale) %>
</section>


<section id="how_it_works" class="mt-5">
  <%= get_discourse_post(section: 'how_it_works', locale: I18n.locale) %>

  <% slides = %w[01 02 03 04 05 06 07] %>
  <div id="storyboard-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% slides.each do |s| %>
        <li data-target="#storyboard-carousel" data-slide-to="<%= s.to_i %>" class="<%= 'active' if s == slides.first %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% slides.each do |s| %>
        <div class="carousel-item <%= 'active' if s == slides.first %>">
          <%= image_tag "storyboard-slide-#{s}.png", class: 'd-block w-100' %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#storyboard-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#storyboard-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>


<section id="about_ngi_forward" class="mt-5">
  <%= get_discourse_post(section: 'about_ngi_forward', locale: I18n.locale) %>
</section>


<section id="consortium" class="mt-5">
  <%= get_discourse_post(section: 'partners', locale: I18n.locale) %>

  <div class="row">
    <%= partial 'card_partner', locals: { name: 'Resonance Design', logo: 'logo-resonance-design-390x130.png', url: 'https://www.theinternetofthings.eu' } %>
    <%= partial 'card_partner', locals: { name: 'Nesta', logo: 'logo-nesta-323x130.png', url: false } %>
    <%= partial 'card_partner', locals: { name: 'Edgeryders OÜ', logo: 'logo-edgeryders-blue-130x130.png', url: 'https://edgeryders.eu/t/6640' } %>
    <%= partial 'card_partner', locals: { name: 'Aarhus University', logo: 'logo-aarhus-university-607x130.png', url: 'https://international.au.dk' } %>
    <%= partial 'card_partner', locals: { name: 'City of Amsterdam', logo: 'logo-city-of-amsterdam-288x130.png', url: 'https://www.amsterdam.nl/' } %>
    <%= partial 'card_partner', locals: { name: 'University of Warsaw', logo: 'logo-university-of-warsaw-292x130.png', url: 'http://en.uw.edu.pl' } %>
    <%= partial 'card_partner', locals: { name: 'Nesta Italia', logo: 'logo-nesta-italia-283x130.png', url: 'https://www.nestaitalia.org/' } %>
  </div>
</section>


<% if false %>
  <!-- Section temporarily removed, as it has no content yet. -->
  <section id="deliverables" class="mt-5">
  </section>
<% end %>


<% if false %>
  <!-- Section temporarily removed, as it has no content yet. -->
  <section id="resources" class="mt-5">
  </section>
<% end %>
