<h1 class="text-center mt-3 mb-5"><%= t("navbar.share_your_experience") %></h1>

<%= get_discourse_post(section: 'share_your_experience_intro', locale: I18n.locale) %>

<%= partial 'btn_share_you_experience', locals: {css_class: 'mt-4 mb-5'} %>

<% stats = get_tell_your_story_stats %>

<section id="share-your-experience-stats" class="mt-5 mb-5">
  <div class="row">
    <div class="col-sm-4">
      <div class="card card-stats mb-4 ml-4">
        <div class="card-body d-flex align-content-center justify-content-center">
          <h1><%= stats.user_count %></h1>
        </div>
        <div class="card-footer font-weight-bold text-center">
          People Sharing
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-stats mb-4 ml-4">
        <div class="card-body d-flex align-content-center justify-content-center">
          <h1><%= stats.topic_count %></h1>
        </div>
        <div class="card-footer font-weight-bold text-center">
          Stories
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-stats mb-4 ml-4">
        <div class="card-body d-flex align-content-center justify-content-center">
          <h1><%= stats.comment_count %></h1>
        </div>
        <div class="card-footer font-weight-bold text-center">
          Comments
        </div>
      </div>
    </div>
  </div>
</section>


<%= partial 'table_activities', locals: {json_data: get_tell_your_story_topics} %>