<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_tag 'earthos-logo.png', height: '80px' %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3">
        <%= link_to 'Home', '/', class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown mr-3">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Project</a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to 'Ecosystem', '/project#ecosystem', class: 'dropdown-item' %>
          <%#= link_to 'For Inhabitants', '/project#for-inhabitants', class: 'dropdown-item' %>
          <%#= link_to 'For Investors', '/project#for-investors', class: 'dropdown-item' %>
          <%#= link_to 'For Cities', '/project#for-cities', class: 'dropdown-item' %>
          <%= link_to 'For the Future', '/project#for-future', class: 'dropdown-item' %>
          <%= link_to 'Join Us!', '/project#join', class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item mr-3">
        <%= link_to 'Events', '/events', class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown mr-3">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to 'Team & Contact', '/about#team', class: 'dropdown-item' %>
          <%= link_to 'Privacy & Consent', '/about#privacy', class: 'dropdown-item' %>
          <%= link_to 'Legal Information', '/about#legals', class: 'dropdown-item' %>
        </div>
      </li>
    </ul>

  </div>
</nav>
