<section id="about-page" class="mt-5">

  <h2 id="about">About</h2>

  <!-- SECTION: Team & Contact -->

  <h3 id="team">Team &amp; Contact</h3>

  <% team_data = get_team() %>
  <% team_data.each do |member| %>

    <div class="card card-teammember mb-4">
      <div class="row no-gutters">

        <div class="col-md-4 d-flex flex-wrap align-items-center">
          <img src="<%= member['photo_url'] %>" class="card-img">
        </div>

        <div class="col-md-8">
          <div class="card-body">

            <h5 class="card-title"><%= member['name'] %> | <%= member['role'] %></h5>

            <div class="card-text"><%= member['description'] %></div>
            <div class="card-text">
              <%= link_to member['email'], "mailto:#{member['email']}" %> |
              <%= link_to "@#{member['username']} on Edgeryders", "https://edgeryders.eu/u/#{member['username']}" %>
            </div>

          </div>
        </div>

      </div>
    </div>

  <% end %>

  <!-- SECTION: Privacy & Consent -->

  <h3 id="privacy">Privacy & Consent</h3>

  <%= get_discourse_html_post(topic_id: 10901, post_id: 1) %>

  <!-- SECTION: Legal Information -->

  <h3 id="legals">Legal Information</h3>

  <%= get_discourse_html_post(topic_id: 10902, post_id: 1) %>
</section>
