<%# Enable to create an intro section before the main content section. %>
<%# content_for :page_header do %>
  <%#= partial "intro" %>
<%# end %>

<section id="home-page" class="mt-5">
  <%= get_discourse_html_post(topic_id: 10781, post_id: 1) %>
</section>

<section id="activity" class="mt-5">
  <h2><%#= t('index.activity_heading') %></h2>

  <%#= partial 'table_activities', locals: { json_data: get_most_recent_topics} %>
</section>

<section id="how_it_works" class="mt-5">
  <%#= get_discourse_post(section: 'how_it_works') %>

  <% slides = %w[01 02 03 04 05 06] %>
  <div id="storyboard-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% slides.each do |s| %>
        <li data-target="#storyboard-carousel" data-slide-to="<%= s.to_i %>" class="<%= 'active' if s == slides.first %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% slides.each do |s| %>
        <div class="carousel-item <%= 'active' if s == slides.first %>">
          <%= image_tag "storyboard-slide-#{s}.png", class: 'd-block w-100' %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#storyboard-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#storyboard-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
